$border-color: #ededed;
$background: #f5f5f5;

//public

.border-r {
	border-right: 1px solid $border-color;
}

.border-l {
	border-left: 1px solid $border-color;
}

.border-t {
	border-top: 1px solid $border-color;
}

.border-b {
	border-bottom: 1px solid $border-color;
}



//compoment

.comp-list {
	> ul {
		
	}
}